body {
  background-color: #636360;
  margin: 0;
  font: 16px/1.25 sans-serif;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	background-color: #FFF;
}

.content h1 {
	text-align: center;
	margin: 0;
	padding-top: 10px;
}

.description {
	padding: 10px;
}

.content img{
	display: block;
	max-width: 100%;
}